################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetPipeline/bin/Debug/net8.0
/DotNetPipeline/obj
/DotNetPipeline/bin/Release/net8.0
